@if (isVisible) {
  <div class="cookie-banner">
    <div class="container cookie-banner__inner">
      <p class="cookie-banner__text">{{ 'cookie.message' | translate }}</p>
      <div class="cookie-banner__actions">
        <button (click)="declineCookies()" class="cookie-banner__btn cookie-banner__btn--outline">
          {{ 'cookie.decline' | translate }}
        </button>
        <button (click)="acceptCookies()" class="cookie-banner__btn cookie-banner__btn--primary">
          {{ 'cookie.accept' | translate }}
        </button>
      </div>
    </div>
  </div>
}
